<% provide(:title, "Edit user") %>

<!-- DASHBOARD PROFILE SECTION -->
<section class="clearfix bg-dark profileSection">
	<div class="container-fluid horizontal-margin-5">
		<div class="row">
			<div class="col-md-4 col-sm-5 col-xs-12">
				<div class="dashboardBoxBg mb30">
					<div class="profileImage">
						<%= image_tag "img/dashboard/user-2.jpg", alt: "Image User", class: "img-circle" %>
						<div class="file-upload profileImageUpload">
							<div class="upload-area">
								<input type="file" name="img[]" class="file">
								<button class="browse" type="button">Upload a Picture <i class="fa fa-upload" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
					<div class="profileUserInfo border-top profileName">
						<p>Your Current Plan</p>
						<h2>Platinum Package</h2>
						<h5>Next Payment: <span>15/01/2017</span></h5>
						<a href="#" class="btn btn-primary">Change</a>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-7 col-xs-12">
				<form>
					<div class="dashboardBoxBg">
						<div class="profileIntro">
							<h2>Your Profile</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Ipsum available.</p>
						</div>
					</div>
					<div class="dashboardBoxBg mt30">
						<%= form_for(@user) do |f| %>						
							<%= render 'shared/error_messages' 	%>
						<div class="profileIntro">
							<h3>About You</h3>
							<div class="row">

								<div class="form-group col-sm-6 col-xs-12">
								  <%= f.label :name, "First Name" %>
								  <%= f.text_field :name, class: 'form-control', id: "firstNameProfile", placeholder: @user.name %>
								</div>

								<div class="form-group col-sm-6 col-xs-12">
								  <%= f.label :name, "Last Name" %>
								  <%= f.text_field :name, class: 'form-control', id: "lastNameProfile", placeholder: @user.name %>
								</div>

								<div class="form-group col-sm-6 col-xs-12">
									<%= f.label :email %>
									<%= f.email_field :email, class: "form-control", id: "emailProfile", placeholder: @user.email %>
								</div>

								<div class="form-group col-sm-6 col-xs-12">
									<label for="phoneProfile">Phone</label>
									<input type="text" class="form-control" id="phoneProfile" placeholder="254 - 265 - 3265">
								</div>
								<div class="form-group col-xs-12">
									<label for="aboutYou">About You</label>
									<textarea class="form-control" rows="5" id="aboutYou" placeholder="About You"></textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="dashboardBoxBg mt30">
						<div class="profileIntro">
							<h3>Social Network</h3>
							<div class="row">
								<div class="form-group col-sm-6 col-xs-12">
									<label for="linkedInUrl">Linked in URL</label>
									<input type="text" class="form-control" id="linkedInUrl" placeholder="http://linkedin.com/listty">
								</div>
								<div class="form-group col-sm-6 col-xs-12">
									<label for="facebookUrl">Facebook URL</label>
									<input type="text" class="form-control" id="facebookUrl" placeholder="http://facebook.com/listty">
								</div>
								<div class="form-group col-sm-6 col-xs-12">
									<label for="twitterUrl">Twitter URL</label>
									<input type="text" class="form-control" id="twitterUrl" placeholder="http://twitter.com/listty">
								</div>
								<div class="form-group col-sm-6 col-xs-12">
									<label for="youTubeUrl">You Tube URL</label>
									<input type="text" class="form-control" id="youTubeUrl" placeholder="http://youtube.com/listty">
								</div>
							</div>
						</div>
					</div>
					<div class="dashboardBoxBg mt30">
						<div class="profileIntro">
							<h3>Update password</h3>
							<div class="row">
								<div class="form-group col-xs-12">
									<%= f.label :password, "Current Password" %>
									<%= f.password_field :password, class: "form-control", id: "currentPassword", placeholder: "********" %>
								</div>
								<div class="form-group col-xs-12">
									<%= f.label :password, "New Password" %>
									<%= f.password_field :password, class: "form-control", id: "newPassword", placeholder: "New Password" %>
								</div>
								<div class="form-group col-xs-12">
									<%= f.label :password_confirmation, "Confirm Password" %>
									<%= f.password_field :password_confirmation, class: "form-control", id: "confirmPassword", placeholder: "Confirm Password" %>
								</div>
								<div class="form-group col-xs-12">
									<%= f.submit "Save Change", class: "btn btn-default" %>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</form>
			</div>
		</div>
	</div>
</section>
